/* Colors */
/* Podcast tune project colors */
/* Typography */
/* Space */
/* Breakpoints */
body {
  font-family: "Playfair Display", serif;
  color: #131313;
  line-height: 1.5; }

.heading-primary {
  color: #fafafa;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  user-select: none; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif; }
    @media (min-width: 30em) {
      .heading-primary--main {
        font-size: 5rem; } }
    @media (min-width: 48em) {
      .heading-primary--main {
        font-size: 7rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif; }
    @media (min-width: 30em) {
      .heading-primary--sub {
        font-size: 2rem; } }
    @media (min-width: 48em) {
      .heading-primary--sub {
        font-size: 2.5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1.4;
  color: #131313;
  font-family: "Open Sans", sans-serif;
  border-bottom: 3px solid currentColor; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: currentColor; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.u-center-text {
  text-align: center; }

.u-container {
  max-width: 98rem;
  margin: 0 auto; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #131313;
  height: 6rem;
  width: 100%;
  z-index: 10; }
  @media (min-width: 48em) {
    .header {
      position: relative; } }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header__logo-box, .header__nav {
    margin: 0 1rem; }
  @media (min-width: 48em) {
    .header__nav {
      margin: 0; } }
  .header__logo-box {
    height: 3rem;
    display: flex; }
    @media (min-width: 48em) {
      .header__logo-box {
        height: 4rem;
        margin: 0 2rem; } }
  .header__logo {
    height: 100%;
    border: none; }

.hero {
  background-image: linear-gradient(rgba(19, 19, 19, 0.3), rgba(19, 19, 19, 0.3)), url("https://res.cloudinary.com/zimniros-spam/image/upload/v1534673707/bUJtxNPc5Cw_uvo3gt.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 48em) {
    .hero {
      margin-top: 0;
      height: 85vh; } }

.about {
  padding: 4rem 1rem; }

.projects {
  padding: 4rem 0rem; }

.nav {
  position: relative;
  display: inline-block; }
  @media (min-width: 48em) {
    .nav {
      height: 100%; } }
  .nav__button {
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer; }
    @media (min-width: 48em) {
      .nav__button {
        display: none; } }
  .nav__open-icon, .nav__close-icon {
    height: 2rem;
    fill: #fafafa; }
  .nav__close-icon {
    display: none; }
  .nav__list {
    display: flex;
    transform: translateX(-100%);
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(19, 19, 19, 0.9);
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 48em) {
      .nav__list {
        height: 100%;
        flex-direction: row;
        position: relative;
        transform: translateX(0);
        top: 0;
        background: transparent; } }
  .nav__item, .nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; }
    @media (min-width: 48em) {
      .nav__item, .nav__link {
        width: auto; } }
  @media (min-width: 48em) {
    .nav__item {
      border-bottom: 2px solid transparent; }
      .nav__item:not(:last-child) {
        margin-right: 2rem; } }
  .nav__item:hover {
    background: rgba(250, 250, 250, 0.2); }
    @media (min-width: 48em) {
      .nav__item:hover {
        background: transparent;
        border-bottom: 2px solid #fafafa; } }
  .nav__link:link, .nav__link:visited {
    font-family: serif;
    font-size: 3.5rem;
    text-decoration: none;
    color: #fafafa; }
    @media (min-width: 48em) {
      .nav__link:link, .nav__link:visited {
        font-size: 2rem;
        padding: 0 2rem; } }

.nav-is-open .nav__open-icon {
  display: none;
  opacity: 0; }

.nav-is-open .nav__close-icon {
  display: block; }

.nav-is-open .nav__list {
  transform: translateX(0); }

.project {
  padding: 3rem 2rem; }
  .project__wrapper {
    display: flex;
    flex-direction: column; }
    @media (min-width: 61.25em) {
      .project__wrapper {
        flex-direction: row;
        align-items: center; } }
  .project__image-wrapper, .project__info {
    min-height: 1px; }
    @media (min-width: 61.25em) {
      .project__image-wrapper, .project__info {
        flex: 1 0 50%; } }
  .project__image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.2); }
    @media (min-width: 61.25em) {
      .project__image {
        margin-bottom: 0; } }
  .project__info {
    width: 100%; }
    @media (min-width: 61.25em) {
      .project__info {
        padding: 0 2rem; } }
  .project__name {
    font-family: "Open Sans", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem; }
  .project__features-list {
    list-style: none;
    margin-bottom: 1rem; }
  .project__feature {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    position: relative; }
    .project__feature::before {
      content: "";
      position: absolute;
      top: 0.75rem;
      left: 0;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: currentColor; }
  .project__tools-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem; }
  .project__tools-item {
    padding: 0.5rem 0.75rem;
    border: 2px solid currentColor;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 1rem; }
    .project__tools-item:not(:last-of-type) {
      margin-right: 1rem; }
  .project__link {
    display: inline-block; }
    .project__link:link, .project__link:visited {
      color: #fafafa;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      padding: 0.75rem 1rem;
      border-radius: 2px;
      border: 2px solid #fafafa;
      font-size: 1.8rem;
      box-shadow: 0 0.5rem 1rem rgba(19, 19, 19, 0.2); }
    .project__link:hover {
      box-shadow: 0 1rem 2rem rgba(19, 19, 19, 0.4); }
    .project__link--live:link, .project__link--live:visited {
      background: #fafafa;
      color: #77d0ff; }
    .project__link:not(:last-of-type) {
      margin-right: 1rem; }

#podcast-tune {
  background: linear-gradient(#0091dd, #44beff);
  color: #fafafa; }
