body {
  font-family: $font-family-basic;
  color: $color-black;
  line-height: 1.5;
  letter-spacing: 1px;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  user-select: none;

  &--main {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;

    animation: moveInLeft 1s ease-out;

    @include large-phone {
      font-size: 5rem;
    }

    @include tablet {
      font-size: 7rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: normal;

    animation: moveInRight 1s ease-out;

    @include large-phone {
      font-size: 2rem;
    }

    @include tablet {
      font-size: 2.5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1.4;
  font-weight: bold;
  color: $color-black;
  border-bottom: 3px solid currentColor;
}

.paragraph {
  font-size: $default-font-size;
  margin-bottom: 0.5rem;
  color: currentColor;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Open Sans", sans-serif;
//   letter-spacing: -2px;
//   line-height: 1.2;
// }
