.u-center-text {
  text-align: center;
}

.u-container {
  max-width: $max-width;
  margin: 0 auto;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-large {
  margin-bottom: 5rem;
}
