/* Colors */
$color-white: #fafafa;
$color-black: #131313;
$color-light-blue: #77d0ff;
$color-dark-blue: #1c203c;

/* Typography */
$default-font-size: 1.6rem;
$font-family-heading: "Open Sans", sans-serif;
$font-family-basic: "Playfair Display", serif;

/* Space */
$header-height: 6rem;

$max-width: 98rem;

/* Breakpoints */
$breakpoint-large-phone: 30em; //480px
$breakpoint-tablet: 48em; //768px
