/* Colors */
$color-white: #fafafa;
$color-black: #131313;
$color-light-blue: #77d0ff;
$color-dark-blue: #1c203c;

/* Space */
$header-height: 6rem;

$max-width: 98rem;

/* Breakpoints */
$breakpoint-tablet: 48em; //768px
