/* Colors */
$color-white: #fafafa;
$color-black: #131313;

/* Podcast tune project colors */
$color-light-blue: #77d0ff;

/* Typography */
$default-font-size: 1.6rem;
$font-family-basic: "Open Sans", sans-serif;

/* Space */
$header-height: 6rem;

$max-width: 120rem;

/* Breakpoints */
$breakpoint-large-phone: 30em; //480px
$breakpoint-tablet: 48em; //768px
$breakpoint-laptop: 61.25em; //980px
