.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $color-black;

  @include tablet {
    position: relative;
    background: transparent;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo-box,
  &__nav {
    margin: 0 2rem;
  }

  &__nav {
    @include tablet {
      margin: 0;
    }
  }

  &__logo-box {
    display: flex;
    height: 3rem;

    @include tablet {
      height: 4rem;
      margin: 0 2rem;
    }
  }

  &__logo {
    height: 100%;
    border: none;
  }
}

.sticky-header .header {
  @include tablet {
    position: fixed;
    background: rgba($color-black, 0.9);
  }
}
