.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-black;
  height: $header-height;
  width: 100%;
  z-index: 10;

  @include tablet {
    position: relative;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo-box,
  &__nav {
    margin: 0 1rem;
  }

  &__nav {
    @include tablet {
      margin: 0;
    }
  }

  &__logo-box {
    height: 3rem;
    display: flex;

    @include tablet {
      height: 4rem;
      margin: 0 2rem;
    }
  }

  &__logo {
    height: 100%;
    border: none;
  }
}
