.about {
  padding: 8rem 2rem;
  background: $color-white;
}

.projects {
  padding-top: 8rem;
  background: $color-white;
}

.footer {
  padding: 4rem 0;
  background: $color-black;
  color: $color-white;
}
