.project {
  padding: 6rem 2rem;

  @include large-phone {
    padding: 8rem 3rem;
  }

  @include tablet {
    padding: 10rem 4rem;
  }

  @include laptop {
    padding: 12rem 4rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include laptop {
      flex-direction: row;
      align-items: center;
    }
  }
  &__image-wrapper,
  &__info {
    min-height: 1px; //IE11
    @include laptop {
      flex: 1 0 50%;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    @include laptop {
      margin-bottom: 0;
    }
  }

  &__info {
    width: 100%;

    @include laptop {
      padding: 0 3rem;
    }
  }

  &__name {
    font-size: 2.5rem;
  }

  &__features-list {
    list-style: none;
    margin-left: 1rem;
  }

  &__feature {
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0.75rem;
      left: 0;

      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      background: currentColor;
    }
  }

  &__tools-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__tools-item {
    padding: 0.5rem 0.75rem;
    border: 1px solid currentColor;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 1rem;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;

    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      padding: 0.5rem 0.75rem;
      border-radius: 2px;
      border: 1px solid $color-white;
      font-size: 1.8rem;
      font-weight: bold;
      transition: all 0.3s;

      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

      @include large-phone {
        padding: 0.75rem 1rem;
        font-size: 2.1rem;
      }
    }

    &:hover {
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      background: $color-white;
      color: $color-light-blue;
    }

    &:not(:last-of-type) {
      margin-right: 0.5rem;

      @include large-phone {
        margin-right: 1rem;
      }
    }
  }

  &__link-icon {
    display: inline-block;
    fill: currentColor;
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;

    @include large-phone {
      height: 3rem;
      width: 3rem;
    }
  }
}

#podcast-tune {
  background: linear-gradient(
    darken($color-light-blue, 30%),
    darken($color-light-blue, 10%)
  );
  color: $color-white;
}
